<html>

<head>
    <title>Sender Streaming Video</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <video id="player" controls></video>
    <device type="media" onchange="update(this.data)"></device>
    <button onclick="startRecording()">Send Sequence Data</button>
    <script>
        function update(stream) {
            document.querySelector('video').src = stream.url;
        }
    </script>
    <p id="printData"></p>
    <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
    <script>
        var player = document.getElementById('player');
        var mediaRecorder;
        var count = 0;
        var mediaConstraints = {
            audio: true,
            video: true
        };

        var connection = new WebSocket('ws://localhost:8765/');
        function isOpen(ws) { return ws.readyState === ws.OPEN }
        connection.onmessage = function (evt) {
            console.log(evt);
            mediaRecorder.start(3000);
        };

        navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);

        function onMediaSuccess(stream) {
            mediaRecorder = new MediaStreamRecorder(stream);
            mediaRecorder.mimeType = 'video/webm';
            mediaRecorder.ondataavailable = function (blob) {
                // POST/PUT "Blob" using FormData/XHR2
                var data = {};
                data.binary = blob;
                data.metadata = 'test metadata';
                data.action = "upload_video";
                data.itration = ++count;
                // connection.send(JSON.stringify(data));
                var blobURL = URL.createObjectURL(blob);
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function () {
                    base64data = reader.result;
                    // console.log(base64data);
                    // window.open(base64data);
                    document.write(base64data);
                }
                
            };
            mediaRecorder.start(5000);
        }

        function onMediaError(e) {
            console.error('media error', e);
        }
    </script>
    <script>
        /*var player = document.getElementById('player');
        var printData = document.getElementById('printData');
        var count = 0;
        var streamRecorder;
        var webcamstream;
        var connection = new WebSocket('ws://localhost:8765/');
        function isOpen(ws) { return ws.readyState === ws.OPEN }
        connection.onmessage = function (evt) {
            console.log(evt);
            startRecording();
        };
        function startRecording() {
            streamRecorder = webcamstream.record();
            setTimeout(stopRecording, 1000);
        }
        function stopRecording() {
            streamRecorder.getRecordedData(postVideoToServer);
        }
        function postVideoToServer(videoblob) {
            var data = {};
            data.binary = videoblob;
            data.metadata = 'test metadata';
            data.action = "upload_video";
            data.itration=++count;
            connection.send(JSON.stringify(data));
            //jQuery.post("http://www.kongraju.in/uploadvideo.php", data, onUploadSuccess);
            // connection.send(JSON.stringify(data));
        }
        var handleSuccess = function (stream) {
            if (window.URL) {
                player.srcObject = stream;
                webcamstream = stream;
            } else {
                console.log("---" + Math.random());
                player.src = stream;
            }
        };


        alert("ss");
        if (true)
            navigator.mediaDevices.getUserMedia({
                video: {
                    frameRate: 15
                }
            })
                .then(handleSuccess);
    </script>
</body>

</html>