<html>

<head>
    <title>Sender Streaming Video</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <video id="player" controls></video>
    <device type="media" onchange="update(this.data)"></device>
    <button onclick="connection.close()">Close Socket</button>
    <script>
        function update(stream) {
            document.querySelector('video').src = stream.url;
        }
    </script>
    <p id="printData"></p>
    <script src="{{ url_for('static', filename='MediaStreamRecorder.js') }}"> </script>
    <script src="{{ url_for('static', filename='mediaDevices-getUserMedia-polyfill.js') }}"> </script>
    <!-- <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script> -->
    <script>
        // set up basic variables for app



        //main block for doing the audio recording
        var player = document.getElementById('player');
        var count = 0;
        var connection = new WebSocket('ws://localhost:8765/');
        function isOpen(ws) { return ws.readyState === ws.OPEN }


        if (navigator.mediaDevices.getUserMedia) {
            console.log('getUserMedia supported.');

            var constraints = { audio: true, video: true };
            var chunks = [];

            var onSuccess = function (stream) {


                connection.onmessage = function (evt) {
                    console.log(evt);
                    doRecordData();
                    // mediaRecorder.clearOldRecordedFrames();
                    // mediaRecorder.start(3000);
                };
                var mediaRecorder = new MediaRecorder(stream);
                player.srcObject = stream;

                function doRecordData() {

                    mediaRecorder.start();
                    setTimeout(doStopAndPost, 3000);
                }

                function doStopAndPost() {
                    mediaRecorder.stop();
                }

                mediaRecorder.onstop = function (e) {
                    let blob = new Blob(chunks, { 'type': 'video/mp4' });

                    //var audioURL = window.URL.createObjectURL(blob);

                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        let base64data = reader.result;
                        console.log("recorder stopped : " + base64data);
                        //------------------------------------------
                        let data = {};
                        data.metadata = 'test metadata';
                        data.action = "upload_video";
                        data.itration = ++count;
                        data.binary = base64data.replace("data:video/mp4;base64,", "");
                        if (isOpen(connection))
                            connection.send(JSON.stringify(data));
                        //-----------------------------------

                        chunks = [];

                    }

                    // audio.src = audioURL;
                    //replace("data:video/mp4;base64,", "");

                }

                mediaRecorder.ondataavailable = function (e) {
                    chunks.push(e.data);
                }

                setTimeout(doRecordData, 1000);

            }

            var onError = function (err) {
                console.log('The following error occured: ' + err);
            }

            navigator.mediaDevices.getUserMedia(constraints).then(onSuccess, onError);

        } else {
            console.log('getUserMedia not supported on your browser!');
        }
    </script>
</body>

</html>